<div id="main-content" class="container">

  <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>



  <div flex-item="6" class="mt++">
    <span class="fs-title display-block mb"><h1>Ethernet Devices</h1></span>

    <div class="divider divider--dark"></div>

    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Observers</span>
      </div>
    </md-toolbar>

    <!-- exact table from live demo -->
    <md-table-container>
      <table md-table md-row-select multiple ng-model="vm.selected" md-progress="promise">
        <thead md-head md-order="vm.tableMeta.order" md-on-reorder="getObservers">
        <tr md-row>
          <th md-column md-order-by="description"><span>Description</span></th>
          <th md-column md-order-by="deviceId"><span>ID</span></th>
          <th md-column>IP Address</th>
          <th md-column>MAC Address</th>
          <th md-column>Last Update</th>
          <th md-column>Actions</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="dev" md-select-id="deviceId" md-auto-select ng-repeat="dev in vm.deviceObservers">
          <td md-cell>
            <ng-md-icon class="md-avatar-icon" icon="{{dev.type|observerIcon}}" ng-style="dev.available && {'color':'#31ff00'}"></ng-md-icon>&nbsp;
            <span>{{dev.description}}</span>
          </td>
          <td md-cell>{{dev.deviceId}}</td>
          <td md-cell>{{dev.ipAddress}}</td>
          <td md-cell>{{dev.mac}}</td>
          <td md-cell>{{dev.timeStatusChange|toDateString}}</td>
          <td md-cell>
            <md-button class="md-secondary md-icon-button" ng-click="doEditObserver($event, dev)">
              <ng-md-icon icon="edit"></ng-md-icon>
            </md-button>
            <md-button class="md-secondary md-icon-button" ng-click="doDeleteObserver($event, dev)">
              <ng-md-icon icon="delete"></ng-md-icon>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[10, 20, 30]" md-page="vm.tableMeta.page" md-total="{{vm.deviceObservers.length}}" md-on-paginate="getObservers" md-page-select></md-table-pagination>



    <!--<md-list class="md-dense" flex>

      <md-subheader class="md-no-sticky">{{vm.deviceObservers.length}} line item(s)</md-subheader>

      <md-list-item class="md-3-line" ng-repeat="dev in vm.deviceObservers">

        <ng-md-icon class="md-avatar-icon" icon="{{dev.type|observerIcon}}" ng-style="dev.available && {'color':'#31ff00'}"></ng-md-icon>
        <div class="md-list-item-text" class="column">
          <h2>{{dev.deviceId}} ({{dev.ipAddress}})</h2>
          <h4>{{dev.description}}</h4>
          <p><ng-md-icon icon="date_range"></ng-md-icon>Last update: {{dev.timeStatusChange|toDateString}}</p>
        </div>
        <md-button class="md-secondary md-icon-button" ng-click="doEditObserver($event, dev)">
          <ng-md-icon icon="edit"></ng-md-icon>
        </md-button>
        <md-button class="md-secondary md-icon-button" ng-click="doDeleteObserver($event, dev)">
          <ng-md-icon icon="delete"></ng-md-icon>
        </md-button>

      </md-list-item>

    </md-list>-->

    <div class="divider divider--dark"></div>

  </div>


</div>
