<md-dialog aria-label="Mango (Fruit)">

  <md-content class="md-padding">

    <h2>Device Observer</h2>

    <form name="userForm">

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm >
          <label>Device ID</label>
          <input ng-model="deviceId" ng-disabled="editing">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Description</label>
          <input ng-model="description">
        </md-input-container>
      </div>

      <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
          <label>IP Address</label>
          <input ng-model="ipAddress">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>MAC Address</label>
          <input ng-model="mac">
        </md-input-container>

      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Platform</label>
          <md-select ng-model="platform">
            <md-option><em>None</em></md-option>
            <md-option ng-value="platform.id" ng-repeat="platform in platforms">
              {{platform.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

    </form>
  </md-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()"> Cancel </md-button>
    <md-button ng-click="save()" class="md-primary"> Save </md-button>
  </div>

</md-dialog>
