<mat-toolbar  color="primary">
  <mat-toolbar-row>
    <mat-icon class="menu-icon" (click)="clickMenu()">menu</mat-icon>
    <span class="sitename">Device Monitor</span>
    <span class="example-spacer"></span>
    <!--<mat-icon class="example-icon">favorite</mat-icon>-->
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened">
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>dashboard</mat-icon>
        <a matLine routerLink="/">Main</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mat-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
