:host {
  .menu-icon {
    cursor: pointer;
    color: #dcdcdc;

    &:hover {
      color: #fff;
    }
  }

  .sitename {
    padding-left: 15px;
    font-weight: 300;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
  }
}
