<a class="float-button">
		<button mat-fab type="button" (click)="addDevice()"><i class="material-icons">add</i></button>
</a>

<div class="ai-b8-Q">
	Devices
</div>
<mat-card class="card-services">
	<mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Identificator</mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <sy-platform [platform]="row.device.type" [status]="row.available"></sy-platform>
        <strong class="title" (click)="editRow(row, $event)">{{row.device.deviceId}}</strong>
      </mat-cell>
    </ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
			<mat-cell *matCellDef="let row">
        {{row.device.description}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="ipaddress">
			<mat-header-cell *matHeaderCellDef mat-sort-header>IP Address</mat-header-cell>
			<mat-cell *matCellDef="let row">
        {{row.device.ipAddress}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="macaddress">
			<mat-header-cell *matHeaderCellDef mat-sort-header>MAC Address</mat-header-cell>
			<mat-cell *matCellDef="let row">
        {{row.device.mac}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="lastupdate">
			<mat-header-cell *matHeaderCellDef>Last Update</mat-header-cell>
			<mat-cell *matCellDef="let row">
        {{row.device.timeStatusChange}}
			</mat-cell>
		</ng-container>

    <ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<button *ngIf="!row.favorite" mat-icon-button color="accent" (click)="editRow(row, $event)">
					<mat-icon>edit</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</mat-card>
