:host {

	.title {
		cursor: pointer;
	}

  sy-platform {
    margin-right: 9px;
  }

  .ai-b8-Q {
    padding-top: 10px;
    padding-bottom: 5px;
  }

	.mat-column-id {
		flex: 0 0 190px !important;
		white-space: unset !important;
		width: 190px;
	}
	.mat-column-ipaddress {
		flex: 0 0 170px !important;
		white-space: unset !important;
		width: 170px;
	}
  .mat-column-macaddress {
		flex: 0 0 170px !important;
		white-space: unset !important;
		width: 170px;
	}
  .mat-column-lastupdate {
		flex: 0 0 170px !important;
		white-space: unset !important;
		width: 170px;
	}
	.mat-column-actions {
		flex: 0 0 70px !important;
		white-space: unset !important;
		width: 70px;
	}

	.float-button {
		position: fixed;
		right: 100px;
		bottom: 95px;
		z-index: 99;
	}

	app-health-status {
		margin-left: 7px;
		padding-top: 5px;
	}
}
