/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-synapse: (
		50: #7473a2,
		100: #64638b,
		200: #5b5a7f,
		300: #535274,
		400: #4c4b6a,
		500: #44435f,
		600: #403f59,
		700: #3a3950,
		800: #353449,
		900: #2e2d3f,
		A100: #7877a7,
		A200: #605f86,
		A400: #5b5a7f,
		A700: #4c4b6a,
		contrast: (
				50: $dark-primary-text,
				100: $dark-primary-text,
				200: $dark-primary-text,
				300: $light-primary-text,
				400: $light-primary-text,
				500: $light-primary-text,
				600: $light-primary-text,
				700: $light-primary-text,
				800: $light-primary-text,
				900: $light-primary-text,
				A100: $dark-primary-text,
				A200: $light-primary-text,
				A400: $light-primary-text,
				A700: $light-primary-text,
		)
);
$mat-synapse-blue: (
		50: #e1f5fe,
		100: #c9d6f7,
		200: #c6d3f3,
		300: #c4d0f0,
		400: #c2cded,
		500: #bdc8e7,
		600: #b8c3e1,
		700: #b4bfdc,
		800: #a7b2ce,
		900: #949db7,
		A100: #b6c2e1,
		A200: #a2acc8,
		A400: #949db7,
		A700: #878fa7,
		contrast: (
				50: $dark-primary-text,
				100: $dark-primary-text,
				200: $dark-primary-text,
				300: $dark-primary-text,
				400: $dark-primary-text,
				500: $light-primary-text,
				600: $light-primary-text,
				700: $light-primary-text,
				800: $light-primary-text,
				900: $light-primary-text,
				A100: $dark-primary-text,
				A200: $dark-primary-text,
				A400: $dark-primary-text,
				A700: $light-primary-text,
		)
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($mat-synapse);
$candy-app-accent:  mat-palette($mat-synapse-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);


html {
	font-size: 62.5%;
	font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
	line-height: 1.4 !important;
	letter-spacing: -0.1px !important;
}

body {
	font-size: 14px;
	background-color: #fafafa;
	color: #595959;
	margin: 0;
	padding: 0;
}

html, body {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	margin: 0;
	padding: 0;
}

*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
