@import 'synapse';

[ng-cloak] {
  display: none;
}

.mat-content {
  margin: 15px;
}



.u-content-cont {
  padding-left: 152px;
  padding-right: 153px;
  background: #fff;
  overflow: hidden;
  -webkit-transition: transform .75s linear;
  transition: transform .75s linear;
  width: 80%;
  min-width: 1300px;
  min-height: calc(100vh - 7.8rem - 7.4rem);
  position: relative;
  top: 0;
  margin: 0 auto;
  margin-top: 55px;
  padding-top: 50px;
}
.u-page-frame {
  background-color: #fff;
  min-height: 700px;
}
.u-page-content-cont {
  position: relative;
  width: 1295px;
}
mat-sidenav-container.td-layout-manage-list > mat-sidenav {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.mat-drawer {
  min-width: 220px;
  background-color: transparent;
}
