<div [ngSwitch]="platform">
  <mat-icon *ngSwitchCase="'android'" [ngClass]="getClass()" matTooltip="{{getTooltipText()}}">android</mat-icon>
  <mat-icon *ngSwitchCase="'linux'" [ngClass]="getClass()" matTooltip="{{getTooltipText()}}">pets</mat-icon>
  <mat-icon *ngSwitchCase="'windows'" [ngClass]="getClass()" matTooltip="{{getTooltipText()}}">desktop_windows</mat-icon>
  <mat-icon *ngSwitchCase="'mac'" [ngClass]="getClass()" matTooltip="{{getTooltipText()}}">desktop_mac</mat-icon>
  <mat-icon *ngSwitchDefault [ngClass]="getClass()" matTooltip="{{getTooltipText()}}">device_unknown</mat-icon>
</div>

